<div class="row" *ngFor="let item of testes;">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="{{ item.picture }}" alt="{{item.user}}">
        </div>
        <div class="col-md-6">
          <div class="row mt-3 mb-2">
            <div class="d-flex">
              <div class="p-2"><img src="assets/img/superman.png" alt="superman" class="rounded-circle circle-coments"></div>
              <div class="p-2"><span class="title-visualizar">superman</span></div>
              <div class="ml-auto p-2"><span>{{item.title}}</span></div>
            </div>
          </div>
          <div class="comments">
            <div class="row mt-3 mb-1 ml-1">
              <div class="d-flex">
                <div class="p-2 mb-2">
                  <a
                    (click)="likeHeartPost(item)"
                    [class.checked]="userJaCurtiu(item)"
                    title="{{item.likes}}">

                   <span *ngIf="userJaCurtiu(item) === true; else naoCurtiu">
                     <i class="fas fa-heart fa-heart-1x fill"></i>
                   </span>

                    <ng-template #naoCurtiu>
                      <i class="far fa-heart fa-heart-1x"></i>
                    </ng-template>
                  </a>
                  <span class="mr-1"></span>{{item?.likes?.length}}
                </div>
                <div class="p-2">
                  <span class="mr-1"><i class="fas fa-comment-alt-lines"></i></span>{{ item?.coments?.length }}
                </div>
              </div>
            </div>

            <div class="row" >
              <div class="col-md-12">
                <ul class="list-group"*ngFor="let itemComments of item?.coments">
                  <li class="list-group-item d-flex justify-content-between mr-1 mb-1">
                      <div class="p-2"><img src="assets/img/{{itemComments?.user}}.png" alt="{{itemComments.user}}" class="rounded-circle small-circle"></div>
                      <div class="p-2"><span class="title-visualizar">{{itemComments?.user}}</span></div>
                      <div class="ml-auto p-2"><span>{{itemComments?.comment}}</span></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="formPostGroup">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="inputComent" placeholder="Inserir Comentário" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" [disabled]="!formPostGroup.valid" (click)="salvar(item)">
                      enviar
                    </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
