.title {
  font-weight: bolder;
}

.visual-timer {
  text-align: center;
  margin-left: 150px;
}

.title-view {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
}

.lineup {
  padding: 10px;
}

.active .alink-disabled {
  color: white;
  background-color: lightslategray;
  border-radius: 2%;
  cursor: pointer;
}

.alink-disabled {
  color: lightslategray;
  cursor: pointer;
}
