.title {
  font-weight: bolder;
}

.visual-timer {
  text-align: center;
  margin-left: 150px;
}

.title-visualizar {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;

}

.alinhar {
  padding: 10px;
}

.active .alinkdesabled {
 color: white;
 background-color: lightslategray;
 border-radius: 2%;
  cursor: pointer;
}

.alinkdesabled {
  color: lightslategray;
  cursor: pointer;
}
